.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}

body {
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  text-align: center;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 2.3em;
}

p {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: .9em;
}

.item a:link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
}

.item a:visited {
  color: #ffffff;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}

a:hover {
  color: #FE9920;
}

* {
	box-sizing: border-box;
}



/*.container {
	padding: 10px;
	background: #fff;
  border-radius: 5px;
	margin: 45px auto;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}*/
.item {
	color: #000;
  font-size: .8em;
  font-family: "Raleway", Helvetica, sans-serif;
  text-align: center;
	padding: 15px;
	margin: 5px;
	background: #0E242c;
	border-radius: 3px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}


input[type=submit] {
    background-color: #0E242c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-family: "Raleway", Helvetica, sans-serif;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #349eab;
}


.contact {
    border-radius: 5px;
    background-color: #EB823E;
    padding: 20px;
    color: white;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: .9em;
}

h2 {
  text-align: center;
  font-family: "Raleway", Helvetica, sans-serif;
}

.archive{
  text-align: center;
  font-family: "Raleway", Helvetica, sans-serif;
  color:#EB823E;
}

h3{
  text-align: center;
  font-family: "Raleway", Helvetica, sans-serif;
}

.names {
  text-align: center;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: .9em;
  text-decoration:underline;
}

#footer {
  text-align: center;
  font-size: .8em;
}

.categories {
  font-family: "Raleway", Helvetica, sans-serif;
}

li {
  margin: 20px 0;
}

b{
  text-decoration:bold;
}

.nominate{
  text-decoration: underline;
}

.compact-image {display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
max-width:300px;
}

/*FLEXBOX DOWN BELOW HERE*/


.container {
	display: flex;
	flex-direction: column;
}

.item{
  display:none;
}

.menu-trigger {
  font-size: 1.75em;
  width: 2em;
}

@media screen and (min-width: 700px) {

.item{
  display:block;
}

.container {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
  .menu-trigger{
    display:none;
  }

}
